@import './normalize.css';

section {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

button, input, select {
  height: 1.7em;
  width: fit-content;
  margin: 1px;
  box-sizing: border-box;
}

.container {
  width: fit-content;
}

.flex {
  display: flex;
}

.flex > * {
  flex: auto;
}

.center {
  align-items: center;
  text-align: center;
}